body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
:root {
    --bg-info: #CCDEFF;
    --text-info: #382F94;
    --bg-success: #CFF3DA;
    --text-success: #0E6832;
    --bg-warning: #FCFBC9;
    --text-warning: #8D7A1A;
    --bg-error: #FAD2D6;
    --text-error: #933349;
}
.message {
    margin: 10px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    font-size: 14px;
    padding: 8px;
    font-weight: lighter;
}
.message-info {
    background-color: var(--bg-info);
    color: var(--text-info);
}
.message-success {
    background-color: var(--bg-success);
    color: var(--text-success);
}
.message-warning {
    background-color: var(--bg-warning);
    color: var(--text-warning);
}
.message-error {
    background-color: var(--bg-error);
    color: var(--text-error);
}