#container {
    font-family: "Poppins", sans-serif;
    margin: -8px;
}
header h1 {
    font-size: 30px;
}
header {
    background-color: #000000;
    color: white;
    padding: 12px;
    font-weight: lighter;
    font-size: 14px;
}
.align-header {
    text-align: center;
}
h3.fancy-header {
    color: black;
}
.underline-header {
    text-decoration: underline;
}
#container {
    background-color: #CCCCCC;

}
#bg-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 125vh;
    background-image: url("../img/pexels-gabriel-hohol-10543004.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 50%;
    filter: blur(2px);
}
ul {
    list-style: none;
    text-align: center;
}
ol {
    list-style: none;
    text-align: center;
}
li {
    display: inline-block;
}
#container {
    text-align: center;
}
table {
    border: 5px solid black;
    margin-left: auto;
    margin-right: auto;
}
th {
    padding: 10px;
    font-size: 2em;
    color: black;
    text-align: center;
    border-bottom: thick solid black;
    border-right: thick solid black;
}
tr {
    padding: 10px;
    font-size: 1em;
    text-align: center;
}
td {
    padding: 10px;
    font-size: 1em;
    text-align: center;
    border-bottom: thick solid black;
    border-right: thick solid black;
}
main h3 {
    color: black;
}
main, footer {
    color: white;
    background-color: #00000080;
    padding: 12px;
    font-weight: lighter;
    font-size: 14px;
    height: 900px;
}
a:link {
    color: #F00;
}
a:visited {
    color: #000;
}
a:hover {
    color: #00F;
}
a:active {
    color: #0F0;
}
aside {
    font-size: 12px;
}
body {

}
